@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body,
html {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
}

.header {
  background-color: #2b2d31;
  padding-right: 16px;
  max-height: 56px;
  width: 100%;
}

.bigScreen {
  display: none;
}

.documents {
  display: flex;
  justify-content: space-between;
  height: 56px;
}

.hamburgerIcon {
  background-color: #35393f;
  padding: 27px 21px;
}

.documentName {
  display: flex;
  gap: 16px;
  position: relative;
  margin-left: 24px;
}

.saveBtn button {
  display: flex;
  gap: 7.83px;
  align-items: center;
  background-color: #e46643;
  padding: 12px;
  border: none;
  border-radius: 4px;
}

.saveBtn button:hover {
  background-color: #f39765;
}

.trash {
  mix-blend-mode: multiply;
  fill: white;
}

.docName {
  display: none;
}

h6 {
  color: #7c8187;
}

.documentNameInput {
  align-content: center;
}

.documentNameInput input {
  background-color: transparent;
  border: none;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  line-height: 17.58px;
  text-align: left;
  color: #ffffff;
}

.documentNameInput input:focus {
  background-color: transparent;
  border-bottom: 1px solid white;
  outline: none;
}

::placeholder {
  color: #ffffff;
}

.documentInfo {
  display: flex;
  max-height: 56px;
}

.documentName img {
  max-height: 16px;
  align-self: center;
}

.deleteAndSave {
  display: flex;
  align-items: center;
  gap: 24px;
  max-height: 56px;
}

.saveBtn button img {
  width: 16px;
}

.textContent {
  width: 100%;
  height: 100%;
}

.markdownTextArea {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  border-right: 1px solid #e4e4e4;
  padding: 9px 16px;
  font-family: "Roboto Mono";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #35393f;
}

form {
  height: 100%;
}

.markdownTextArea:focus {
  outline: none;
}

.form {
  width: 100%;
}

.previewArea {
  width: 50%;
}

.previewText {
  padding: 22px 24px;
  max-width: 672px;
  margin-inline: auto;
}

.textArea {
  width: 100%;
  height: 100%;
}

.overlay {
  position: fixed; 
  top: 0;
  left: -250px;
  width: 250px;
  background-color: rgba(21, 22, 25, 1);
  min-height: 100vh;
  transition: transform 0.3s ease;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App {
  transition: transform 0.3s ease;
}

.App.menuOpen {
  transform: translateX(250px);
}

.hamburger-wrapper {
  display: flex;
  z-index: 20;
  align-self: center;
  background-color: #35393f;
  width: 56px;
  height: 56px;
  justify-content: center;
  align-items: center;
}

.hamburger-react {
  cursor: pointer;
  z-index: 20;
  color: white;
  width: 100%;
  height: 100%;
}

.hamburger-react div {
  width: 10px;
}

.documentList h4 {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 2px;
  text-align: left;
  color: #7c8187;
  padding: 27px 24px;
}

.newDocBtn {
  display: flex;
  margin-inline: auto;
  align-items: center;
  gap: 7.83px;
  color: white;
  background-color: #e46643;
  border: none;
  border-radius: 4px;
  padding: 10px 44px;
  margin-bottom: 24px;
}

.newDocBtn:hover {
  background-color: #f39765;
}

.docBtn {
  display: flex;
  align-items: center;
  gap: 16px;
}

.documentName h2 {
  display: none;
}

.docBtn {
  background-color: transparent;
  border: none;
}

.documentsList {
  display: flex;
  align-content: center;
  flex-direction: column;
  gap: 20px;
  margin-left: 24px;
}

.documentsList span {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  line-height: 17.58px;
  text-align: left;
  color: #ffffff;
}

.documentsList {
  list-style: none;
  padding-left: 0px;
}

.docNameText {
  text-align: left;
}

h3 {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 2px;
  text-align: left;
}

.previewTitle {
  display: flex;
  justify-content: space-between;
  color: #7c8187;
  background-color: #f5f5f5;
  padding: 12px 16px;
  border-right: 1px solid #e4e4e4;
}

.markdownTitle {
  display: flex;
  justify-content: space-between;
  color: #7c8187;
  background-color: #f5f5f5;
  border-right: 1px solid #e4e4e4;
  padding-right: 15.8px;
}

.textArea h3 {
  color: #7c8187;
  background-color: #f5f5f5;
  padding: 12px 16px;
}

.previewText h3 {
  background-color: transparent;
  font-family: "Roboto Slab";
  font-size: 24px;
  font-weight: 700;
  line-height: 31.65px;
  text-align: left;
  color: #35393f;
  padding: 0px;
}

.previewText h6 {
  color: #e46643;
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: 700;
  line-height: 18.46px;
  text-align: left;
}

.previewText h5 {
  font-family: "Roboto Slab";
  font-size: 16px;
  font-weight: 700;
  line-height: 21.1px;
  text-align: left;
  color: #35393f;
}

.previewText {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.previewText h2 {
  font-weight: 400;
}

.previewText p {
  color: #7c8187;
}

.previewText h1,
.previewText h2,
.previewText h3,
.previewText h4,
.previewText h5 {
  color: #35393f;
}

.previewText ol li {
  color: #7c8187;
  padding-left: 9px;
}

.previewText ul {
  list-style: none;
}

.previewText li {
  position: relative;
}

.previewText ul li:before {
  content: "•";
  font-size: 16px;
  width: 3px;
  height: 3px;
  position: absolute;
  left: -1em;
  color: #e46643;
}

.previewText blockquote {
  background-color: #f5f5f5;
  padding: 24px;
  padding-left: 20px;
  border-left: 4px solid #e46643;
  border-radius: 4px;
}

.previewText blockquote p {
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #35393f;
}

.previewText blockquote a {
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  color: #35393f;
}

.previewText pre {
  background-color: #f5f5f5;
  padding: 24px;
  color: #35393f;
  border-radius: 4px;
}

.documentIconSvg {
  color: white;
  align-self: center;
}

.trashBtnIconSvg {
  color: #7c8187;
}

.trashBtnIconSvg:hover {
  color: #e46643;
}

.eyeIconSvg:hover,
.eyeOffIconSvg:hover {
  color: #e46643;
}

.saveBtnIconSvg {
  color: white;
}

.isPreviewVisible {
  width: 100%;
}

.notPreviewVisible {
  width: 100%;
}

.previewArea {
  display: block;
}

.markdownDesktop {
  align-content: center;
}

.markdownPreviewWrapper {
  height: 100%;
}

.documentList h2 {
  display: block;
  align-content: center;
  align-self: center;
  font-family: "Commissioner";
  font-size: 15px;
  font-weight: 700;
  line-height: 18.35px;
  letter-spacing: 5px;
  text-align: left;
  padding: 27px 24px;
  color: #ffffff;
  height: 40px;
}

.documentList li:hover span {
  color: #e46643;
}

.theme-switch {
  display: flex;
  align-items: center;
  padding: 24px;
  margin-bottom: 50px;
}

.switch {
  appearance: none;
  background-color: #5a6069;
  height: 22px;
  width: 48px;
  display: inline-flex;
  margin-inline: 16px;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 4px;
  transition: all 0.8s ease-in-out;
  cursor: pointer;
}

.switch:after {
  content: "";
  background-color: #fff;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  transition: transform 0.4s ease-out, opacity 0.3s linear;
}

.switch:checked:after {
  transform: translateX(180%);
}

.icon-light {
  color: #fff;
}

.icon-dark {
  color: #5a6069;
}

.delete-dialog {
  border: none;
  margin: auto;
  max-width: 343px;
  padding: 0;
  border-radius: 4px;
}

.delete-dialog::backdrop {
  background-color: rgba(21, 22, 25, 0.5);
}


.dialog-container {
  display: grid;
  gap: 16px;
  padding: 24px;
  border-radius: 4px;
  font-family: "Roboto Slab";

  h3 {
    color: #35393f;
    font-size: 20px;
    line-height: 26.38px;
    font-size: 20px;
    font-weight: 700;
    line-height: 26.38px;
    text-align: left;
  }

  p {
    color: #7c8187;
    font-size: 14px;
    line-height: 24px;
  }
}

.delete-dialog-btn {
  font-size: 15px;
  line-height: 17.58px;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #e46643;
  &:hover {
    background-color: #f39765;
  }
}

@media (width >= 768px) {

  .docName {
    display: block;
  }

  .previewArea {
    display: block; 
  }

  .textArea {
    display: block;
    width: 100%;
  }

  .textContent {
    display: flex;
  }

  .markdownDesktop {
    display: none;
  }

  .bigScreen {
    display: block;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
    line-height: 17.58px;
    text-align: left;
    color: white;
  }

  .documentName {
    margin-left: 0px;
  }

  .documentName h2 {
    display: block;
    align-content: center;
    align-self: center;
    font-family: "Commissioner";
    font-size: 15px;
    font-weight: 700;
    line-height: 18.35px;
    letter-spacing: 5px;
    text-align: left;
    padding-inline: 29px;
    color: #ffffff;
    border-right: 1px solid #5a6069;
    height: 40px;
  }

  .header {
    max-height: 72px;
  }

  .documents {
    height: 72px;
  }

  .documentInfo {
    max-height: 72px;
  }

  .deleteAndSave {
    max-height: 72px;
  }

  .hamburger-wrapper {
    height: 72px;
  }

  .documentList h2 {
    display: none;
  }
}
